.container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;

    .background {
        display: fixed;
        position: fixed;
        width: 100%;
        height: 100%;
        min-width: 1080px;
        min-height: 720px;
        // background-color: azure;
        z-index: 1;
    }

    .dom {
        width: 100%;
        background-color: transparent;
        padding: 20px;
    }
}